.iconBoxWrapper{
    padding: 0;
}
.iconBoxWrapper .iconBoxBanner {
    height: 30px;
    border-bottom: 1px solid rgb(179,179,179);
}
.iconBoxWrapper .iconBoxElements{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}
.iconBoxWrapper .iconBoxElements .iconBox{
    margin: 10px;
    border: 1px solid rgb(179,179,179);
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    flex: 1 0 21%;
    height: 100px;
    text-align: center;
}
.iconBoxWrapper .iconBox .iconTitle{
    font-size: 1.1em;
}
.iconBoxWrapper .iconBox .iconPreview{
    margin-top: 10px;
}


#oisThemeJsonSelectorModal .oisTheme-json-edit-form {
	/*width: 400px;*/
}
/**/
#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset.array>fieldset {
}

#oisThemeJsonSelectorModal .oisTheme-json-edit-form>form>fieldset {
	/*border: 2px solid #2c3e50;*/
}
#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset fieldset.array {
	border: 1px solid #888;
	border-radius: 5px;
	padding: 10px;
}

#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset.object {
	border: 0px solid #2c3e50;
	padding: 10px 10px;
	padding-bottom: 20px;
	padding-top: 5px;
	border-bottom: 1px dashed #2c3e50;
}

#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset.object:nth-child(odd) {
	background: #d2d4d2;
}
#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset.object:nth-child(even) {
	background: #e7e7e7
}

#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset.primitive {
	margin: 5px 0px;
	padding: 5px;
}

#oisThemeJsonSelectorModal .oisTheme-json-edit-form .object-label {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
	padding: 5px;
	height: 20px;
}
#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset { position: relative; }
#oisThemeJsonSelectorModal .oisTheme-json-edit-form legend {
	width: auto;
	margin-bottom: 0px;
	font-size: 16px;
	border: 0px;
}
#oisThemeJsonSelectorModal .oisTheme-json-edit-form label {
	display: block;
	float: left;
	width: 20%;
}
#oisThemeJsonSelectorModal .oisTheme-json-edit-form input { width: 80%; }
#oisThemeJsonSelectorModal .oisTheme-json-edit-form button.replicate-button {
	width: 100%;
	cursor: pointer;
}
#oisThemeJsonSelectorModal .oisTheme-json-edit-form button.delete-button {
	cursor: pointer;
}
#oisThemeJsonSelectorModal .oisTheme-json-edit-form fieldset.array>fieldset.object>button.delete-button {
	position: absolute;
	right: 5px;
	top: 5px;
}

